body {
    margin: 0;
    padding: 0;
    background-color: #353535;
}

.mainapp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.background-clock {
    display: flex;
    background: #ef1717;
    padding: 20px;
    border-radius: 15px;
    box-shadow:  0px 0px 15px #ff6767;
}

.clock {
    color: #2d2d2d;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 900;
    padding: 10px 15px;
    margin: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #ffffff;
    border-radius: 10px;
}